USE [master]
GO
/****** Object:  Database [CruiseDB]    Script Date: 02-03-2021 23:14:31 ******/
CREATE DATABASE [CruiseDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CruiseDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CruiseDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CruiseDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CruiseDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CruiseDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CruiseDB]
GO
/****** Object:  Table [dbo].[Passenger]    Script Date: 02-03-2021 23:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passenger](
	[PassengerNumber] [uniqueidentifier] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[Lastname] [varchar](50) NULL,
	[PhoneNumber] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PassengerNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Passenger] ADD  DEFAULT (newid()) FOR [PassengerNumber]
GO
USE [master]
GO
